# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
coverage/

# Environment variables
.env

# macOS system files
.DS_Store
__MACOSX/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Build directories
dist/
build/
